

{ margin: 0; padding: 0; }

html { 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

}

body{background: url(http://p1.pichost.me/i/70/1948828.jpg);
      background-size:cover;}

h1{text-align: center;
color:white}


h2{font-family:; 
text-align: center;
color:white}


#myCarousel{
  float:center;
  width:700px;
  height: 500px;
  position: relative;
  display:auto;
  margin:70px auto 100px auto;
  border: 10px;
  border-radius: 50%;

}

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 150%;
      margin: auto;
      height:500px;
      border: 2px;
      border-radius: 50%;
  }
